@model TryMoreWeb.Models.UsersModel
@using TryMoreWeb.Models

@{
    ViewBag.Title = "Login";
    Layout = null;
}


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/libs/css/style.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>

        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
    @Styles.Render("~/Plugins/bootoast-css")
</head>

<body>
    <div class="loader" style="display:none"></div>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center"><a href="../index.html"><img class="logo-img" src="../assets/images/logo1.jpg" alt="logo"></a><span class="splash-description">Forgot Password</span></div>
            @using (Ajax.BeginForm("", "", new AjaxOptions { HttpMethod = "GET", Url = ApiCollections.API_USER_FORGOTPASSWORD }, new { @id = "IdForgotPass" }))
            {

                @Html.AntiForgeryToken()
                <div class="card-body">

                    <form>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-lg", @placeholder = "Username or Email", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            @*<input class="form-control form-control-lg" id="username" type="text" placeholder="Username" autocomplete="off">*@
                        </div>

                        <button type="button" onclick="ForgotPassword()" class="btn btn-primary btn-lg btn-block">Send</button>
                    </form>
                </div>
                @*<div class="card-footer bg-white p-0  ">
                        <div class="card-footer-item card-footer-item-bordered">
                            <a href="#" class="footer-link">Create An Account</a>
                        </div>
                        <div class="card-footer-item card-footer-item-bordered">
                            <a href="#" class="footer-link">Forgot Password</a>
                        </div>
                    </div>*@

            }
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>


<style>
    .overlay {
        background: #e9e9e9;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .loader {
        border: 16px solid #224780;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        position: fixed;
        z-index: 99;
        margin: 0 auto;
        left: 0;
        bottom: 0;
        right: 0;
        top: 50%;
    }
    /* Safari */
    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

</html>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Plugins/bootoast-js")

<script type="text/javascript">


        $(document).ready(function () {
            localStorage.clear();
            $('#loader').hide();
        })

        function ForgotPassword() {
            //$('#loader').show();
            if ($("#IdForgotPass").valid()) {
                var productModel = {
                UserName: $("#UserName").val(),
             };
                $(".loader").show();
                $.ajax({
                    type: "POST",
                    url: '@ApiCollections.API_USER_FORGOTPASSWORD',
                    data: JSON.stringify(productModel),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    success: function (res) {

                        $(".loader").hide();
                        if (res.success) {
                              bootoast.toast({
                                message: res.message,
                                type: 'success',
                                position: 'right-top',
                              });
                            $("#UserName").val("");
                        }
                        else {
                            bootoast.toast({
                                message: res.message,
                                type: 'danger',
                                position: 'right-top',
                            });
                        }
                        return false;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $(".loader").hide();
                        bootoast.toast({
                            message: jqXHR.responseJSON.Message,
                            type: 'danger',
                            position: 'right-top',
                        });
                        //$('#loader').hide();
                        return false;
                    }
                });

            } return false;


        }



</script>
