@model List<TryMoreWeb.Models.ProductModel>

@{
    ViewBag.Title = "GetProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Products</h2>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader -->
<!-- ============================================================== -->
<div class="row">

    <!-- ============================================================== -->
    <!-- basic table  -->
    <!-- ============================================================== -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header" style="text-align:right;">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <button class="btn btn-primary" id="uploadFile" title="Upload excel file"> <i class="fas fa-upload"></i> </button>

                    <input type="file" style="display:none;" id="files" name="files" onchange="checkFile()" data-parsley-type="file" />
                    <a class="btn btn-primary" href="@Url.Action("Product","Product")">Add New Product</a>
                </div>
            </div>
            @*<h5 class="card-header">Basic Table</h5>*@
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered first">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Seller</th>
                                <th>Category</th>
                                <th>Brand</th>
                                <th>Is Approve</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int index = 1;}
                            @if (Model.Count > 0)
                            {
                                foreach (var items in Model)
                                {
                                    <tr>
                                        <td>@items.ProductName</td>
                                        <td>@items.SellerName</td>
                                        <td>@items.CategoryName</td>
                                        <td>@items.BrandName</td>
                                        <td>
                                            @if (items.IsApprove == 1)
                                            {
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" id="chk_@items.ProductID" onclick="ProductApprove(@items.ProductID)" checked="checked" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            }
                                            else
                                            {

                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" id="chk_@items.ProductID" onclick="ProductApprove(@items.ProductID)" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>

                                            }
                                        </td>
                                        <td><a class="btn btn-primary" href="@Url.Action("Product","Product",new { ProductID = items.ProductID })"> View </a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                        @*<tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end basic table  -->
    <!-- ============================================================== -->
</div>


<script type="text/javascript">
    $(document).ready(function () {
                if ('@TempData["success"]' == "True") {
                    bootoast.toast({
                        message: '@TempData["message"]',
                        type: 'success',
                        position: 'right-top',
                    });
                }
                else if ('@TempData["success"]' == "False") {
                    bootoast.toast({
                        message: '@TempData["message"]',
                        type: 'danger',
                        position: 'right-top',
                    });
                }

    });


    function ProductApprove(items) {
        var r;
        var value;
        if ($("#chk_" + items).prop('checked')) {
            r = confirm("Are you sure you want to Approve this product?");
            value = 1;
        }
        else {
            r = confirm("Are you sure you want to dis Approve this product?");
            value = 0;
        }
        if (r == true) {
            var token = '@Session["access_token"].ToString()';

            $.ajax({
                url: '@ApiCollections.API_ProductApprove' + "?productId=" + items + "&approve=" + value,
                type: 'POST',
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + token);
                },
                success: function (res) {
                    if (res.success) {
                        if (value == 1) {
                            bootoast.toast({
                                message: "Product approve successfully.",
                                type: 'success',
                                position: 'right-top',
                            });
                        }
                        else {
                            bootoast.toast({
                                message: "Product dis approve successfully.",
                                type: 'success',
                                position: 'right-top',
                            });
                        }

                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    bootoast.toast({
                        message: jqXHR.responseJSON.Message,
                        type: 'danger',
                        position: 'right-top',
                    });
                    return false;
                },
            });
        }
        else {
             $("#chk_" + items).prop('checked', !$("#chk_" + items).prop('checked'));
        }
    }

       $("#uploadFile").click(function myfunction() {
        $("#files").click();
    })

    function checkFile() {
        for (var i = 0; i < $("#files").get(0).files.length; ++i) {

                    var file1 = $("#files").get(0).files[i].name;

                    if (file1) {
                        //var file_size = $("#files").get(0).files[i].size;
                        //if (file_size < 2097152) {
                        var ext = file1.split('.').pop().toLowerCase();
                        if ($.inArray(ext, ['xlsx']) === -1) {
                            alert("Invalid file");
                            $("#files").val("");
                        }
                        else {
                             var fileUpload = $("#files").get(0);
                                var files = fileUpload.files;

                                // Create FormData object
                                var fileData = new FormData();

                                // Looping over all files and add it to FormData object
                                for (var i = 0; i < files.length; i++) {
                                    fileData.append(files[i].name, files[i]);
                                }
                            var token = '@Session["access_token"].ToString()';
                              $(".loader").show();
                                $.ajax({
                                    url: '@ApiCollections.API_Product_Upload',
                                    type: "POST",
                                    contentType: false, // Not to set any content header
                                    processData: false, // Not to process data
                                    ajaxasync: true,
                                    data: fileData,
                                    beforeSend: function (xhr) {
                                            xhr.setRequestHeader('Authorization', 'Bearer ' + token);
                                    },
                                    success: function (res) {
                                        $(".loader").hide();
                                        if (res.success) {
                                            bootoast.toast({
                                                    message:res.message,
                                                    type: 'success',
                                                    position: 'right-top',
                                                });
                                        }
                                        else {
                                            bootoast.toast({
                                                    message:res.message,
                                                    type: 'danger',
                                                    position: 'right-top',
                                                });
                                        }
                                    },
                                    error: function (err) {
                                        $(".loader").hide();
                                        bootoast.toast({
                                            message: jqXHR.responseJSON.Message,
                                            type: 'danger',
                                            position: 'right-top',
                                        });
                                    }
                                });

                        }
                    }
                }
    }

</script>

